<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- Se debe agregar el Namespace de context en la pestaña abajo por la consola -->
	<!-- Luego se agrega el siguiente bean para que spring reconozca las anotaciones -->
	<context:component-scan base-package="com.exercisespringmysql"></context:component-scan>
	
	<!-- placeholder para las configuraciones -->
	<context:property-placeholder location="classpath:valores.properties"/>
	
	<!-- Deben estar las dependencias en el pom.xml -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">	
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${usuario}"></property>
		<property name="password" value="${clave}"></property>
	</bean>
	
	<bean id="marca4" class="com.exercisespringmysql.beans.Marca">
		<property name="id" value="4"></property>
		<property name="nombre" value="MARCA4"></property>
	</bean>
	
	<bean id="camiseta1" class="com.exercisespringmysql.beans.Camiseta">
		<property name="id" value="1"></property>
		<property name="numero" value="1"></property>
		<property name="marca" ref="marca4"></property>
	</bean>
	
	<bean id="equipo1" class="com.exercisespringmysql.beans.Equipo">
		<property name="id" value="1"></property>
		<property name="nombre" value="EQIPO 1"></property>
	</bean>
	
	<bean id="jugador4" class="com.exercisespringmysql.beans.Jugador">
		<property name="id" value="4"></property>
		<property name="nombre" value="JUGADOR 4"></property>
		<property name="equipo" ref="equipo1"></property>
		<property name="camiseta" ref="camiseta1"></property>
	</bean>

</beans>
